@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f6f5 url('/images/fondo3.jpg') center/cover no-repeat;
    color: #333;
    
}

header {
    background: #25d4cf;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.logo img {
    width: 120px;
    margin-left: 89px;
    margin-right: 41px;
}


.lista {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.lista li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}


input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

textarea {
    resize: none;
    margin: 0 auto;
    display: block;
}

button {
    background-color: #3299be;
    color: white;
    border: none;
    padding: 5px;
    font-size: 1.2rem; 
    border-radius: 5px;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }

    .lista li a {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }

}

@media screen and (max-width: 600px) {
    
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 20px;

    }

    .lista li a {
        font-size: 0.9rem;
    }

}



footer {
    background-color: #710b0b;
    color: white;
    padding: 10px 0;
    font-size: 0.8rem;
    margin-top: 0px;
}

.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.pie-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pie-logo img {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

.pie-menu {
    display: flex;
    justify-content: center;
}

.pie-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.pie-menu li {
    display: inline; 
}

.pie-menu li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.pie-contacto {
    text-align: center;
    font-size: 0.5rem;
}

.pie-contacto p {
    margin: 5px 0;
}

.pie-derecho {
    text-align: center;
    font-size: 0.6rem;
    padding: 5px 0;
    background-color: #5a0a0a;
}