@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f5;
    color: #000000;
    background: #f4f6f5 url('/images/fondo3.jpg') center/cover no-repeat;
}

header {
    background: #25d4cf;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.logo img {
    width: 120px;
    margin-right: 41px;
    margin-left: 89px;
}


.lista {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.lista li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}



.titulo-juego {
    margin-bottom: 20px;
    font-size: 1.7rem; 
    color: #000000; 
    text-align: center; 
}

.juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.imagen-juego {
    text-align: center;
}

.acertijo-image {
    width: 59%; 
    height: auto;
}

.hint-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #25d4cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sopa {
    display: flex;
 
    margin-top: 20px;
}

.imagen-juego {
    margin-right: 0px;
    margin-top: 20px; 

}

.sopa-image {
    width: 59%; 
    height: auto;
}

.check-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #25d4cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

h2 {
 margin-top: 100px;
}


.solucion-sopa {
    display: none; 
    margin-top: 20px;
    text-align: center;
}


.sopa-resuelta-image {
    width: 200px; 
    height: auto;
}


@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }

    .lista li a {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }

    .sopa-image {
        width: 300px; 
        height: auto;
    }

    .sopa-resuelta-image {
        width: 250px; 
        height: auto;
    }

    .lista-sopa {
        font-size: 0.8rem;
    }

    .imagen-juego {
        margin-right: 15px;
        margin-top: 15px; 
    
    }
    

}

@media screen and (max-width: 600px) {
    
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 20px;

    }

    .lista li a {
        font-size: 0.9rem;
    }

    .sopa-image {
        width: 240px; 
        height: auto;
    }

    .sopa-resuelta-image {
        width: 220px; 
        height: auto;
    }

    .lista-sopa {
        font-size: 0.7rem;
    }

    .imagen-juego {
        margin-right: 15px;
        margin-top: 15px; 
    
    }

}


footer {
    background-color: #710b0b;
    color: white;
    padding: 10px 0;
    font-size: 0.8rem;
    text-align: center;
}

.pie {
    max-width: 800px;
    margin: 0 auto;
}

.pie-logo img {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

.pie-menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.pie-menu li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8rem;
}

.pie-contacto p {
    margin: 5px 0;
    font-size: 0.7rem;
}

.pie-boton {
    background-color: #5a0a0a;
    padding: 10px 0;
    font-size: 0.5rem;
}