@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f5;
    color: #333;
    background: #f4f6f5 url('/images/fondo3.jpg') center/cover no-repeat;
}

header {
    background: #25d4cf;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 60px;
}

.logo img {
    width: 120px;
    margin-right: 41px;
    margin-left: 89px;
}


.lista {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.lista li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 1rem;
}

.intro {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

.gif{
    width: 80%;
    margin-top: 20px;
}

.historia, .curiosidades {
    background-color: #f9f9f9;
    padding: 2rem;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.curiosidades h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.curiosidades {
    padding: 2rem;
    text-align: center;
    background-color: #f4f6f5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: 2rem auto;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
}

.curiosidad {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curiosidades-caja {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.imagen {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.curiosidad h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: #ff5733;
}

.curiosidad p {
    font-size: 1rem;
    color: #333;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }

    .lista li a {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
    }

    .imagen {
        max-width: 50%;
    }

}

@media screen and (max-width: 600px) {
    
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .logo {
        order: -1;
    }

    .logo img {
        width: 200px;
        margin-left: 50px;
    }

    .lista {
        flex-direction: row;
        justify-content: center;
        gap: 20px;

    }

    .lista li a {
        font-size: 0.9rem;
    }

    .imagen {
        max-width: 50%;
    }

}


footer {
    background-color: #710b0b;
    color: white;
    padding: 10px 0;
    font-size: 0.8rem;
    margin-top: 0px;
    
    
}

.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.pie-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pie-logo img {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

.pie-menu {
    display: flex;
    justify-content: center;
}

.pie-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.pie-menu li {
    display: inline;
}

.pie-menu li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.pie-contacto {
    text-align: center;
    font-size: 0.5rem;
}

.pie-contacto p {
    margin: 5px 0;
}

.pie-boton {
    text-align: center;
    font-size: 0.6rem;
    padding: 5px 0;
    background-color: #5a0a0a;
}
