@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-image: url('/images/fondo3.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f5;
    color: #333;
}



header {
    background: #25d4cf;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.gif {
    position: relative;
    bottom: 0;
    width: 300px; 
    height: auto;
    z-index: 2;
    transform: translateX(-16%);
    top: 46px;
    
}


.lista {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px 0;
    padding: 0;
}

.lista li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.botones-menu {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: auto;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #d41717;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5em;
    margin-bottom: 2rem;
}

#contador {
    font-weight: bold;
    font-size: 1.5rem;
    color: #0c97c6;
}


@media screen and (max-width: 768px) {
    .logo img {
        width: 200px;
        height: auto;
    }

    .lista {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.7rem;
    }

    .pie-contacto {
        flex-direction: column;
    }

    .pie-menu {
        flex-direction: column;
        align-items: center;
    }

    .pie-logo {
        margin-bottom: 10px;
    }




}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .lista {
        font-size: 0.7rem;
    }

    nav button {
        width: 50%;
        margin-top: 5px;
    }

    section {
        padding: 1rem;
    }

    #contador {
        font-size: 1.2rem;
    }

    button {
        font-size: 0.7rem;
    }


}




footer {
    background-color: #710b0b;
    color: white;
    padding: 10px 0;
    font-size: 0.8rem;
    margin-top: 0px;
    
    
}

.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.pie-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pie-logo img {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

.pie-menu {
    display: flex;
    justify-content: center;
}

.pie-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.pie-menu li {
    display: inline;
}

.pie-menu li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.pie-contacto {
    text-align: center;
    font-size: 0.5rem;
}

.pie-contacto p {
    margin: 5px 0;
}

.pie-boton {
    text-align: center;
    font-size: 0.6rem;
    padding: 5px 0;
    background-color: #5a0a0a;
}